#roadmap {
  $text-color: #fff;
  $text-date-color: #fff;
  $hline-color: #fff;
  $hline-circle-color: $hline-color;
  $vline-color: #fff;
  $vline-secondary-color: #00FFAB;
  $vline-circle-color: $vline-color;

  $hline-width: 10px;
  $hline-circle-width: 25px;
  $hline-spacing: 30px;

  $vline-width: 4px;
  $vline-circle-width: 14px;
  $vline-spacing: 10px;

  @mixin smallscreen {
    @media (max-width: 1200px) {
      @content;
    }
  }

  @mixin largescreen {
    @media (min-width: 1201px) {
      @content;
    }
  }

  @keyframes strokeoffset {
    0% {
      stroke-dashoffset: 0px;
    }
    100% {
      stroke-dashoffset: 1000px;
    }
  }

  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  background-color: #36383f;
  color: #454545;

  .roadmap {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 800px;
    min-width: 100%;
    padding: 0 80px 80px 80px;
    overflow: hidden;
    color: $text-color;
    background: transparent;
    list-style: none;

    @include smallscreen {
      padding: 0 0 80px 0;
      align-items: center;
      width: auto;
      flex-direction: row;
      justify-content: flex-start;
    }

    @include largescreen {
      ol,
      ul {
        padding-left: 0 !important;
      }
    }

    &-title {
      padding-left: 0.1em;
      z-index: 1;
      font-size: 7em;
      text-transform: uppercase;
      letter-spacing: 0.2em;
      line-height: 1.1;

      @include largescreen {
        padding-bottom: 80px;
      }

      @include smallscreen {
        font-size: calc(7.9vw + 1.1em);
        align-self: flex-start;
        width: 10vw;
        word-wrap: break-word;
        position: absolute;
      }
    }

    &-timeline {
      display: flex;
      height: 0;

      @include smallscreen {
        flex-direction: column;
        height: auto;
        width: 0;
        padding-left: 50%;
        padding-right: 50%;
      }

      &::before {
        content: "";
        position: relative;
        background: $hline-color;

        @include smallscreen {
          height: 150px;
          left: -$hline-width / 2;
          width: $hline-width;
        }

        @include largescreen {
          width: 150px;
          top: -$hline-width / 2;
          height: $hline-width;
        }
      }

      &::after {
        content: "";
        position: absolute;
        align-self: center;
        width: 340px;
        height: 800px;
        left: 0;
        background: url("https://s14.postimg.org/cwe76i4r5/paint2.png") left
          center;
        background-repeat: no-repeat;

        @include smallscreen {
          top: 0;
          transform: translateX(calc(100vw - 330px)) rotateZ(90deg);
          width: 800px;
          height: 800px;
          left: -50vw;
        }
      }
    }

    &-timeframe {
      $pos: $hline-width + 60px - $hline-width / 2;

      display: flex;
      flex-grow: 1;
      flex-direction: column-reverse;
      align-self: flex-end;
      position: relative;
      z-index: 1;
      min-width: 100px;
      width: 0;

      @include smallscreen {
        width: 50vw;
        max-width: 300px;
      }

      &::after {
        content: "";
        position: absolute;
        width: $hline-circle-width;
        height: $hline-circle-width;
        background: $hline-circle-color;
        border-radius: 50%;

        @include largescreen {
          left: 50%;
          bottom: 0;
          transform: translate(-50%, 50%);
        }

        @include smallscreen {
          right: -$hline-circle-width / 2;
          bottom: -$hline-circle-width / 2;
        }
      }

      &:nth-child(3n - 2) {
        .roadmap-swirly path {
          animation-delay: -2s;
        }
      }

      &:nth-child(3n - 1) {
        .roadmap-swirly path {
          animation-delay: -4s;
        }
      }

      &:first-child {
        @include smallscreen {
          width: 40vw;
          margin-top: -$hline-spacing - $hline-circle-width / 2;
        }
      }

      &:last-child .roadmap-events::after {
        @include largescreen {
          content: none;
        }
      }

      &:nth-child(even) {
        flex-direction: column;
        align-self: flex-start;

        &::after {
          @include largescreen {
            top: 0;
            transform: translate(-50%, -50%);
          }

          @include smallscreen {
            right: auto;
            left: -$hline-circle-width / 2;
          }
        }

        .roadmap-date {
          bottom: auto;

          @include largescreen {
            transform: translateY(calc(-100% - #{$hline-circle-width} / 2));
          }

          @include smallscreen {
            justify-content: flex-end;
            transform: translate(-100%, -50%);
            top: 50%;
          }
        }

        .roadmap-events {
          @include largescreen {
            padding: $hline-width + 140px calc(15vw - 200px) 0 0;
          }

          @include smallscreen {
            padding: 0 25px $hline-width + 140px 10vw;
          }

          &::before {
            @include largescreen {
              top: -$hline-width / 2;
              bottom: auto;
            }
          }

          &::after {
            @include largescreen {
              top: -$hline-width / 2;
              bottom: auto;
            }

            @include smallscreen {
              left: -$hline-width / 2;
            }
          }
        }

        .roadmap-event {
          @include smallscreen {
            text-align: right;
            justify-content: flex-end;
          }

          &:first-child {
            @include largescreen {
              padding-top: 0;
            }

            .roadmap-vline {
              &::after {
                @include largescreen {
                  top: calc(
                    50% + #{$vline-circle-width} / 2 + #{$vline-spacing} - 10px
                  );
                }
              }
            }
          }

          &:last-child {
            @include largescreen {
              padding-bottom: 20px;
            }

            .roadmap-vline {
              &::before {
                @include largescreen {
                  bottom: calc(
                    50% + #{$vline-circle-width} / 2 + #{$vline-spacing}
                  );
                }
              }
            }
          }

          &::before {
            @include smallscreen {
              order: 2;
              margin: 0 0 0 20px;
            }
          }
        }

        .roadmap-swirly {
          @include largescreen {
            transform: rotateX(180deg);
            bottom: auto;
            top: 30px;
          }

          @include smallscreen {
            transform: rotateY(180deg);
            height: 155px - $vline-spacing;
            bottom: 0;
            top: auto;
            left: auto;
            right: calc(-6% + 36px);
            width: calc(106% - 64px);
          }
        }

        .roadmap-vline {
          &::before,
          &::after {
            @include smallscreen {
              left: auto;
              right: $vline-circle-width / 2 - $vline-width / 2;
            }
          }
        }
      }
    }

    &-swirly {
      position: absolute;

      @include largescreen {
        height: 150px - $hline-spacing - $vline-spacing;
        bottom: $hline-spacing;
        left: calc(-3% + 7px);
        width: calc(53% - 5px);
      }

      @include smallscreen {
        height: 155px - $vline-spacing;
        bottom: 0;
        left: calc(-6% + 36px);
        width: calc(106% - 64px);
      }

      path {
        stroke-width: $vline-width;
        stroke: $vline-color;
        fill-opacity: 0;
        vector-effect: non-scaling-stroke;
        stroke-dashoffset: 0;
        stroke-dasharray: 50;
        animation: strokeoffset 55s linear infinite;

        &:nth-of-type(1) {
          stroke-dasharray: 0;
          animation: none;
        }

        &:nth-of-type(2) {
          stroke: $vline-secondary-color;
        }
      }
    }

    &-date {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      width: 100%;
      height: 60px;
      text-align: center;
      text-transform: uppercase;
      color: $text-date-color;

      @include largescreen {
        bottom: 0;
        transform: translateY(calc(100% + #{$hline-circle-width} / 2));
        font-size: 18px;
      }

      @include smallscreen {
        transform: translate(100%, -50%);
        justify-content: flex-start;
        padding: 0 30px;
        top: 50%;
        font-size: 19px;
      }
    }

    &-events {
      position: relative;
      padding-bottom: $hline-width + 140px;
      list-style: none;

      @include largescreen {
        padding-right: calc(15vw - 200px);
      }

      @include smallscreen {
        position: relative;
        padding-bottom: 150px;
        list-style: none;
        padding-left: 25px;
        padding-right: 10vw;
      }

      &::before {
        $spacing: $hline-circle-width / 2 + $hline-spacing;

        @include largescreen {
          content: "";
          position: absolute;
          background: $hline-color;
          height: $hline-width;
          left: 0;
          right: calc(50% + #{$spacing});
          bottom: -$hline-width / 2;
        }
      }

      &::after {
        $spacing: $hline-circle-width / 2 + $hline-spacing;

        content: "";
        position: absolute;
        background: $hline-color;

        @include largescreen {
          height: $hline-width;
          left: calc(50% + #{$spacing});
          right: 0;
          bottom: -$hline-width / 2;
        }

        @include smallscreen {
          top: $spacing;
          bottom: $spacing;
          right: -$hline-width / 2;
          width: $hline-width;
        }
      }
    }

    &-event {
      display: flex;
      align-items: center;
      position: relative;
      z-index: 1;
      padding: 20px 0;

      &::before {
        content: "";
        flex-shrink: 0;
        left: 0px;
        margin-right: 10px;
        border-radius: 50%;
        width: $vline-circle-width;
        height: $vline-circle-width;
        background: $vline-circle-color;
      }

      &:first-child {
        .roadmap-vline {
          &::before {
            content: none;
          }
        }
      }

      &:last-child {
        padding-bottom: 0px;

        .roadmap-vline {
          &::before {
            bottom: calc(
              50% + #{$vline-circle-width} / 2 + #{$vline-spacing} - 10px
            );
          }

          &::after {
            content: none;
          }
        }
      }
    }

    &-vline {
      position: absolute;
      top: 0;
      bottom: 0;

      &::before,
      &::after {
        content: "";
        position: absolute;
        left: $vline-circle-width / 2 - $vline-width / 2;
        width: $vline-width;
        background: $vline-color;
      }

      &::before {
        top: 0;
        bottom: calc(50% + #{$vline-circle-width} / 2 + #{$vline-spacing});
      }

      &::after {
        top: calc(50% + #{$vline-circle-width} / 2 + #{$vline-spacing});
        bottom: 0;
      }
    }
  }
}
